/* start Media queries mobile*/
@media screen and (max-width: 1128px) {
    #app {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: nowrap;
    }

    .box-loader {
        background-size: 85%;
    }

    .name-card {
        padding-right: 8rem;
    }

    .price-card {
        font-size: 13px;
    }

    //Page Product
    .container-product {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        height: 600px;
    }

    .box-text-product {
        flex-direction: column;
    }

    #name {
        margin-right: 10em;
    }


    .title-home {
        line-height: 1;
        text-align: center;
        font-size: 12px;
    }

    //Page basket
    .block-price-total {
        margin: auto;
        margin-top: 3em;
    }

    #form-container {
        font-size: 9px;
        margin: 1em;
        text-align: center;
    }

    #submit-form {
        width: 55%;
    }

    .container-footer {
        height: 370px;
        display: flex;
        flex-direction: column;
    }

    .box-footer {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .tel {
        margin-bottom: 1em;
    }

    .texts-footer-legal {
        text-align: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    #form-orders {
        font-size: 14px;
    }

    form input {
        width: 60%;
    }

    form textarea {
        width: 60%;
    }

    //Page Order
    .container-order {
        width: 80%;
    }

}