//Page Panier 
.basket-page {
    margin: auto;
}

.container-empty-basket {
    display: flex;
    justify-content: center;
}

.basket-empty {
    font-family: 'Roboto';
    background-color: orange;
    padding: 15px;
    border-radius: 10px;
}

#appPanier {
    padding-bottom: 1em;
}

.container-basket-products {
    @include font-family;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

#table-products {
    text-align: center;
}

.denomination-names {
    font-family: 'Roboto';
    text-align: center;
}

//Vider le panier 
.btn_delete {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.btn_button_delete {
    border: none;
    line-height: 2;
    padding: 0 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #f9c78e;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;

    &.btn_button_delete:hover {
        background-color: #f9daa7;
        color: rgb(44, 40, 40);
    }

}

//Prix total
.block-price-total {
    display: flex;
    justify-content: center;
    margin: 1.5em;
    margin-top: 3em;


}

.html-prices-products {
    @include font-family;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    background-color: #f9b25c;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
    padding: 15px;
    width: 30%;
    max-width: 100%;
}

//Formulaire de commande 
#form-container {
    border: 2px black solid;
    background-color: bisque;
    @include font-family;
    margin: 3em;
}

.title-form-basket {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        background-color: rgb(255, 255, 255);
        width: 45%;
        border: 2px black solid;
        border-radius: 5px;
    }

    #missing-prenom {
        @include missings_input;
    }

    #missing-nom {
        @include missings_input;
    }

    #missing-addresse {
        @include missings_input;
    }

    #missing-ville {
        @include missings_input;
    }

    #missing-email {
        @include missings_input;
    }

    textarea {
        background-color: rgb(255, 255, 255);
        width: 45%;
        border: 2px black solid;
        border-radius: 5px;

    }
}

#submit-form {
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #057055;
    height: 45px;
    width: 25%;
    margin: 2em;
    cursor: pointer;
}

/**************** Ajout du scss pour la page order**************/
.order-page {
    font-family: 'belligerent-madness';
}

#box-order {
    display: flex;
    justify-content: center;
}

.container-order {
    text-align: center;
    max-width: 100%;
    width: 50%;
    border: 1px solid black;
    margin-top: 10%;

    .font-id-order {
        font-weight: bold;
    }

    .font-price-order {
        font-weight: bold;
    }
}