
//Page Panier 
.basket-page{
    margin: auto;
}
.container-empty-basket{
    display: flex;
    justify-content: center;
}
.basket-empty{
    font-family: 'Roboto';
    background-color: orange;
    padding: 15px;
    border-radius: 10px;
}

#appPanier{
    padding-bottom: 1em;
}

.container-basket-products{
    @include font-family;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

table{
    border-collapse: collapse;
  }
  
  th, td{
    border: 1px solid black;
    padding: 10px;
  }

.denomination-names{
    font-family: 'Roboto';
    text-align: center;
}

//Prix total
.html-prices-products{
    @include font-family;
    text-align: center;
}

//Formulaire de commande 
#form-orders{
    border: 2px black solid;
    background-color: bisque;
    @include font-family;
}
.title-form-basket{
    display: flex;
    justify-content: center;
}
form{
    background-color: rgb(89, 185, 189);
    display: flex;
    flex-direction: column;
    align-items: center;

    input{
        background-color: rgb(185, 148, 135);
        width: 80%;
    }
    textarea{
        background-color: rgb(185, 148, 135);
        width: 80%;

    }
}