@mixin font-family {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 16px;
}

@mixin card {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

@mixin btn-page-product {
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #483131;
    padding: 10px;
    cursor: pointer;
}